/*
font-family: 'Oxygen', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Luckiest Guy', cursive;
*/
body{
  font-family: 'Sigmar One', cursive;
}
button {
  font-family: 'Sigmar One', cursive;
}
